/* ==== fuente y configuracion inicial  ==== */
@font-face 
{
    font-family: 'newfont';
    src: url('../assets/fonts/ggsansMedium.ttf') format('truetype');
}

@font-face 
{
    font-family: 'newfontBold';
    src: url('../assets/fonts/ggsansBold.ttf') format('truetype');
}

html
{
    font-family: 'newfont', sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body 
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(to bottom, #621f48 50%, #4e223c );
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

img 
{
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

h1 
{
    font-family: 'newfontBold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

label 
{
    font-weight: normal;
    margin-bottom: 5px;
}

input[type = "text"], input[type = "password"], input[type = "date"], input[type = "submit"], input[type = "email"]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #1e1e1e;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #e4e4e4;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

input:focus 
{
    outline: none;
}

button 
{
    width: 100%;
    padding: 15px;
    background-color: #5865f2;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-family: 'newfont', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover 
{
    background-color: #6d58a8;
    transform: scale(1.02);
}

button.active 
{
    background-color: #404249;
    color: #ffffff;
}

/* ==== barra superior ==== */

#chatterly-container
{
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh;
}

#barra-superior
{
    display: flex;
    background: linear-gradient(360deg, #651d4d 0%, #5d2540 50%);
    color: white; 
    padding: 5px; 
    text-align: left; 
    height: 60px;
    border-bottom: 2px solid var(--color-accent-1);
}

#barra-superior-buttons
{
    display: flex; 
    padding: 5px; 
    align-items: center; 
    color: white; 
    gap: 20px;
}

#chatterly-text
{
    font-weight: bold; 
    color: #949ba4;
}

#chatterly-logo
{
    width: 60px;
    height: 60px;
}

#divisor-barra-superior-buttons
{
    height: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    width: 40px; 
    background-color:rgb(255, 255, 255)
}

#message-logo
{
    position: relative;
    background: linear-gradient(to top, #2B0232,#5D1340);
    border-radius: 50%;
    width: 50px;       
    height: 50px;      
    display: flex;     
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

#message-logo:hover 
{
    background: linear-gradient(to top,rgba(43, 2, 50, 0.7), rgba(252, 106, 77, 0.4));
    border-radius: 16px;
}

#message-logo:hover::after 
{
    content: 'Mensajes Directos'; 
    position: absolute;
    top: 50%;
    left: 110%; 
    transform: translateY(-50%);
    background-color: #2b2d31;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


/* ==== En linea, Todos, Pediente y Añadir amigo (botones) ==== */

.friend-tab-button 
{
    background-color: #31333800;
    color: white;
    border: none;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-tab-button:hover 
{
    background-color: #31333800;
}

#friend-tab-button:active 
{
    background-color: #31333800;
}

.add-friend-button 
{
    background-color: #3ba55d00;
    color: white;
    border: none;
    width: auto;
    height: 30px;
    align-items: center;
    display: flex;
    padding: 8px 1px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-friend-button:hover 
{
    background-color: #3ba55d00;
}

/* ==== barra 1 ==== */

#barra1-container
{
    display: flex; 
    flex: 1;
}

#barra1
{
    width: 2.7vw; 
    padding: 10px; 
    color: white; 
    min-width: 50px;
    background: linear-gradient(180deg, #651d4d 0%, #5d2540 50%);
    border-right: 2px solid var(--color-accent-2);
}

/* ==== message logo y message (circulos)  ==== */

#message 
{
    position: relative;
    background: linear-gradient(to top, #160d18, #552b59);
    border-radius: 50%;
    width: 30px; 
    height: 30px;   
    display: flex;     
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    padding: 10px; 
}

#message:hover 
{
     
    background: linear-gradient(to top, #1f111f, #663b6f);
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 16px;
}

#message:hover::after 
{
    content: 'Mensajes Directos'; 
    position: absolute;
    top: 50%;
    left: 110%; 
    transform: translateY(-50%);
    background-color: #2b2d31;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* ==== barra 2 ==== */

#barra2
{
    width: 14%; 
    color: white; 
    min-width: 217px;
    background: linear-gradient(180deg, #4a1e3d 0%, #793663 100%);
    border-right: 2px solid var(--color-accent-3);
    border-bottom: 2px solid var(--color-accent-3);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    border-radius: 5px;
}

#barra2-content-container
{
    display: flex; 
    flex-direction: column; 
    justify-content: 
    space-between;
    height: 100%;
    border-radius: 5px;

}

#direct_message_containter
{
    padding: 10px;
}

.option-button-close-chat
{
    text-align: center; 
    display: flex;
    align-items: center;
}


/* ==== userpanel ==== */

#userpanel
{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding: 10px; 
    background: rgba(25,15,35,0.6);
    backdrop-filter: blur(8px);
    border: 2px solid var(--color-accent-1);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
}


/* ==== initialpanel ==== */

#initialpanel
{
    flex: 1; display: flex; 
    flex-direction: column; 
    background: linear-gradient(360deg, #4e223c 0%, #4e1b3e 100%);
    border-right: 2px solid var(--color-accent-1);
    border-bottom: 2px solid var(--color-accent-1);
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* ==== openonlinemenu ==== */

#openonlinemenu
{
    padding: 30px; 
}

#button_name
{
    display: flex; 
    align-items: center;
    gap: 10px; 
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 100%; 
    cursor: pointer; 
    text-align: left; 
    margin-bottom: 5px;
    margin-top: 10px;
}

#nombreboton
{
    font-size: 16px; 
    color: white !important;
}

#fotoFriend
{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}

#no_friends
{
    text-align: center;
}

/* ==== addfriendmenu ==== */

#addfriendmenu
{
    padding: 30px; 
}

#addfriendmenu-container
{
    display: flex; 
    overflow: hidden; 
    background-color: #313338;
}

#addfriendmenu-form
{
    width: 100%; position: relative;
}

#alias_amigo
{
    border-color: #1e1f22; background-color: #1e1f22; width: 100%; box-sizing: border-box; height: 50px; padding-left: 10px; position: relative;
}

#enviar_solicitud
{
    width: 200px; position: absolute; right: 5px; top: 5px; height: 40px; font-size: 14px; background-color: #5865F2; cursor: pointer; padding: 0 15px; border: none;
}

/* ==== pendingmenu ==== */

#pendingmenu
{
    padding: 30px; 
}

#pendingmenu-form
{
    display: flex; gap: 10px;
}

.solicitud
{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    background-color: #2b2d31; 
    margin-bottom: 10px; 
    border-radius: 5px;
}

#button_aceptar
{
    background-color: #5865F2; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 3px; 
    cursor: pointer;
}

#button_rechazar
{
    background-color: #FF5C5C; 
    color: white; 
    border: none; 
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* ==== allfriends ==== */

#allfriends
{
    padding: 30px; 
}

#allfriends-container
{
    display: flex; align-items: center; gap: 10px; padding: 10px;
}
/* ==== opciones ==== */

#options-button 
{
    background: linear-gradient(to top, #a73814, #f2805b);
    font-family: 'newfont', sans-serif;
    color: #ffffff; 
    font-size: 14px; 
    border: none; 
    padding: 10px 15px; 
    margin: 5px 0;
    text-align: left;
    cursor: pointer; 
    border-radius: 3px;
    transition: background-color 0.2s ease; 
}

#options-button:hover 
{
    background: linear-gradient(to top, #c24d1e, #fa9270);
}

#options-button:active 
{
    background: linear-gradient(to top, #c24d1e, #fa9270);
}

#options-button:focus 
{
    outline: none; 
    background: linear-gradient(to top, #c24d1e, #fa9270);
}

/* ==== form y panel button ==== */

#form-container
{
    background-color: #34343c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    display: none;
}

#form-container.active 
{
    display: block;
}

/* ==== botones ==== */

.panel_button
{
    display: flex; 
    align-items: center; 
    gap: 5px; 
    padding: 5px 10px; 
    max-width: 1350px; 
    cursor: pointer;
    background: linear-gradient(to top, #a73814, #f2805b);
}

.panel_button:hover
{
    background: linear-gradient(to top, #c24d1e, #fa9270);
}

#options_button_gear
{
    transition: background 0.4s ease-in-out;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
}

#options_button_gear:hover 
{
    transition: background 0.4s ease-in-out;
    background: linear-gradient(to top, #c24d1e4e, #fa92704b);
}

#options_icon 
{
    transition: transform 0.5s ease-in-out;
    width: 20px;
    height: 20px;
}

#options_button_gear:hover #options_icon 
{
    transform: rotate(180deg);
}


/* ==== links y scrollbar ==== */

#link
{
    color: #f2805b;
    text-decoration: none;
    position: relative;
}

#link::after
{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #f36536;
    visibility: hidden;
    transform: translateX(-50%) scaleX(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#link:hover::after
{
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
}

#link-top
{
    color: #f2805b;
    text-decoration: none;
    position: relative;
}

#link-top::after 
{
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #f36536;
  visibility: hidden;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

#link-top:hover::after 
{
  visibility: visible;
  transform: translateX(-50%) scaleX(1);
}

#link-top.active::after, #link-top:focus::after 
{
  visibility: visible;
  transform: translateX(-50%) scaleX(1);
}

::-webkit-scrollbar
{
    width: 5px; 
}

::-webkit-scrollbar-track
{
    background-color: #2b2d31; 
}

::-webkit-scrollbar-thumb
{
    background-color: #1a1b1e; 
    border-radius: 15px; 
}