@font-face 
{
    font-family: 'newfont';
    src: url('../assets/fonts/ggsansMedium.ttf') format('truetype');
}

@font-face 
{
    font-family: 'newboldfont';
    src: url('../assets/fonts/ggsansBold.ttf') format('truetype');
}

html, body
{
    font-family: 'newfont', sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    perspective-origin: top;
    z-index: 0;
    position: relative;
    background-image: url('../assets/imgs/background_website.svg');
}

h1
{
    font-family: 'newboldfont', sans-serif;
    font-size: 34px;
}

p
{
    font-family: 'newfont', sans-serif;
    font-size: 24px;
}

#main-content 
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#page 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header 
{
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.588);
    mask-image: linear-gradient(to top, transparent 0%, #fc552b 50%);
    width: 100%;
}

#navbar
{
    justify-content: space-between;
}

#navbar ul 
{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar a 
{
    color: #f2805b;
    text-decoration: none;
}

#links-content
{
    display: flex;
    gap: 20px;
}

#logo 
{
    height: 40px;
    margin-bottom: 5px;
    padding-right: 20px;
}

#start 
{
    background-image: url('../assets/imgs/start.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.60s ease;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#start.hidden 
{
  opacity: 0;
}

#section1, #section2, #section3
{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 140px;
}

#section1-img, #section2-img, #section3-img
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer
{
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, #c10e29 0%, #990c76 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #fc552b 25%);
    padding: 40px 130px;
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 200px;
}

#footer-container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
}

#footer-copyright
{
    align-items: center;
}

#copyright
{
    font-size: 20px;
    font-family: "newboldfont";
}

/* ==== animacion ==== */

.fade-element /* estado inicial antes del fade-in */
{
    opacity: 0;
    transform: translateY(15px);
}

@keyframes fadeInUp /* keyframes de aparicion */
{
  to 
  {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in /* aparicion de items */
{
    animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* ==== container ==== */

.container 
{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    max-width: 900px;
}

.container-header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 5%;
}

/* ==== video ==== */

#video 
{
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    position: fixed; 
    inset: 0; 
    width: 100vw; 
    height: 100vh; 
    background: black; 
    z-index: 1000;
}

#video.visible 
{
    opacity: 1;
    pointer-events: all;
}

#introVideo
{
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
    display: block;
}

/* ==== links y scrollbar ==== */

#link
{
    color: #f2805b;
    text-decoration: none;
    position: relative;
}

#link::after
{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #f36536;
    visibility: hidden;
    transform: translateX(-50%) scaleX(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#link:hover::after
{
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
}

#link-social-network
{
    color: white;
    display: inline-block; 
    transition: transform 0.2s ease, color 0.2s ease;  
}

#link-social-network:hover
{
    color: #c2adad;
    transform: scale(1.2);
}

::-webkit-scrollbar
{
    width: 10px; 
}

::-webkit-scrollbar-track
{
    background-color: #2b2d31; 
}

::-webkit-scrollbar-thumb
{
    background-color: #1a1b1e; 
    border-radius: 10px; 
}