.options-container 
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header-bar 
{
    background-color: #1e1f22;
    color: white;
    padding: 5px;
    text-align: left;
    height: 20px;
}

.header-title 
{
    font-weight: bold;
    color: #949ba4;
}

.content-wrapper 
{
    display: flex;
    flex: 1;
}

.sidebar 
{
    background-color: #2b2d31;
    width: 54%;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container p
{
    text-align: right;
    margin: 0;
}

#options-button 
{
    text-align: right;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.divider 
{
    height: 2px;
    background-color: #393e42;
}

.main-content 
{
    background-color: #313338;
    width: 100%;
    padding: 35px;
    color: white;
}

.profile-info 
{
    max-width: 650px;
    align-items: center;
    background-color: #1e1f22;
    border-radius: 15px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-header
{
    background-color: #131111;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

#selectImageGroup
{
    padding: 0 !important;
    margin-top: 20px;
    padding-left: 36% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title
{
    font-weight: 400px;
}

.upload-form 
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.file-input 
{
    display: none;
}

.profile-img 
{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 60px;
    left: 20px;
    border: 4px solid #8a4545;
    cursor: pointer;
}

.profile-username 
{
    position: absolute;
    top: 100px;
    left: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.profile-details 
{
    background-color: #292b2f;
    border-radius: 10px;
    padding: 20px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-details p 
{
    color: white;
    margin: 0;
}

#text_name
{
    color: #b9c8cb;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

#text_username
{
    color: #b9c8cb;
    font-weight: bold;
    margin-bottom: 5px;
}

#text_email
{
    color: #b9c8cb;
    font-weight: bold;
    margin-bottom: 5px;
}

.password_autentication
{
    max-width: 650px;
    padding: 0px;
    display: none;
}

.container 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.container p 
{
    margin: 0;
    font-size: 16px;
}

.change_button
{
    width: auto;
    align-items: left;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4e5058;
}

.change_button:hover
{
    background-color: #6d6f78;
}

#text_disabled_account
{
    font-size: 19px;
    margin-bottom: 5px;
}

#text2_disabled_account
{
    margin-top: 5px;
}

.container_account
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.change_password
{
    width: 170px;
    height: auto;
    padding: 10px 15px;
}

#delete_acount
{
    width: 170px;
    height: auto;
    background-color: #d22d39 !important;
    padding: 10px 15px;
}

#exit_button_image
{
    width: 60px;
    height: 85px;
    cursor: pointer;
}

.container_options_header
{
    display: flex;
    align-items: center;
    gap: 550px;
    margin-bottom: 5px;
}

#myaccount_text
{
    text-align: left !important;
    width: 200px;;
}